<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/main.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Karla&display=swap", rel="stylesheet")
    body
        header.block1
            nav.wrapper.flex
                ul
                    li
                        img(src="img/logo.png" alt="логотип Shades")
                    li
                        a(href="Features") Features   
                    li
                        a(href="Services") Services 
                    li
                        a(href="Pricing") Pricing 
                    li
                        a(href="Contact") Contact
                div
                    a.button(href="Get Started ") Get Started 
        main
            section.block1
                div.wrapper.main
                    span PRESENT YOUR SERVICE
                    h1 Make landing page fast and easily.
                    p Create custom landing pages with Shades that convert more visitors than any website—no coding required.
                    div.buttons
                        form
                            input.b1(type="email" value="Enter your email")
                        div
                            a.button-getstarted(href="Get Started") Get Started
                    span.customers Trused by over 50,000+ customers
                    div.footer-main
                        div.text
                            img(src="img/Object.png" alt="карандаш")
                        div.text   
                            h2 Easy to use
                            span Editing and customizing Essential Landing is easy and fast.
                        div.text
                            img(src="img/Object2.png" alt="")
                        div.text
                            h2 300+ Blocks
                            span Editing and customizing Essential Landing is easy and fast.
                        div.text
                            img(src="img/Object3.png" alt="")
                        div.text
                            h2 100% Responsive
                            span Editing and customizing Essential Landing is easy and fast.    
            section.block2
                div.wrapper.flex2
                    span DESIGN IS EVERYTHING
                    h2 Present your app features like this way.
                    p We designed and tested prototypes that helped identify pain points in the account creation process. Together, we shaped the new standard.
                    a.button-getstarted2(href="Get Started") Get Started      
            article.block3
                div.wrapper
                    div.flex3
                        span DESIGN IS EVERYTHING
                        h2 Present your app features like this way.
                        p We designed and tested prototypes that helped identify pain points in the account creation process. Together, we shaped the new standard.
                        div.flex
                            div.background-pencil
                                h3 Easy to use
                                p Event is not like most tech conferences. We want our design to engage.
                            div.background-box
                                h3 Beautiful Sections
                                p Event is not like most tech conferences. We want our design to engage.
                    span.line-white
                    div.flex
                        div.flex4
                            span CUSTOMERS’ STORY
                            h2 50k+ users are showing love.
                            p We designed and tested prototypes that helped identify pain points in the account creation process. Together, we shaped the new standard. 
                        div.grid1
                            span.border1
                                div.text-comment1 “You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change and click save.
                                div.photo
                                    img(src="img/oval1.png" alt="фото")
                                    div.flex4
                                        div.name Cameron Anderson
                                        div.profession Designer
                            span.border3
                                div.text-comment3 “Finally, I’ve found a template that covers all bases for a bootstrapped startup. We were able to launch in days, not months.”
                                div.photo
                                    img(src="img/oval3.png" alt="фото")
                                    div.flex4
                                        div.name Catherine Simmons
                                        div.profession Marketer
                        div.grid2
                            span.border2
                                div.text-comment2 “Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”
                                div.photo
                                    img(src="img/oval2.png" alt="фото")
                                    div.flex4
                                        div.name Leo Morton
                                        div.profession Marketer
                            span.border4
                                div.text-comment4 With Shades, it’s quicker with the customer, the customer is more ensured of getting exactly what they ordered, and I’m all for the efficiency.
                                div.photo
                                    img(src="img/oval4.png" alt="фото")
                                    div.flex4
                                        div.name Harvey Ingram
                                        div.profession UX Designer
                    div.logos
                        img(src="img/logo5.png" alt="лого")
                        img(src="img/logo4.png" alt="лого")
                        img(src="img/logo3.png" alt="лого")
                        img(src="img/logo2.png" alt="лого")
                        img(src="img/logo1.png" alt="лого")
            section.block4
                div.wrapper
                    div.text-align
                            span ITS TIME TO TASTE IT
                            h2 Ready to use our service?<br>Choose a package.
                    div.flex5
                            span.border5
                                div.basic BASIC
                                span.currency $
                                span.numeral 19
                                span.month / month
                                div.small-business Good for small business launching their products less then once a year
                                ul
                                    li.select.list Unlimited Blocks
                                    li.select.list 5GB Clould Storages
                                    li.select.list-crossout Custom Domain Names
                                    li.select.list-crossout Unlimited Emails
                                a.button-startfree(href="Start Free Trial") Start Free Trial
                                div.no-credit No credit card required
                            span.border6
                                div.flex
                                    div.pro PRO
                                    a.button-popular(href="POPULAR") POPULAR
                                span.currency $
                                span.numeral 29
                                span.month / month
                                div.small-business Good for small business launching their products less then once a year
                                ul
                                    li.select-black.list Unlimited Blocks
                                    li.select-black.list 5GB Clould Storages
                                    li.select-black.list Custom Domain Names
                                    li.select-black.list Unlimited Emails
                                a.button-startfree2(href="Start Free Trial") Start Free Trial
                                div.no-credit No credit card required
            section.block5
                footer.wrapper.flex
                    div.flex4
                        img.logo(src="img/logo.png" alt="логотип Shades")
                        span Big, small, online, offline, local. Size doesn't matter. We work on diverse projects for top brands as well as for cool startups.
                        div.flex
                            a.socialnetworks(href="https://twitter.com/?lang=ru")
                                img(src="img/twitter.png" alt="логотип twitter")
                            a.socialnetworks(href="https://www.facebook.com/")
                                img(src="img/facebook.png" alt="логотип facebook")
                            a.socialnetworks(href="https://www.google.by/")
                                img(src="img/google.png" alt="логотип google")
                    div.flex4
                        a(href="Help menu") Help menu
                        ul
                            li 
                                a(href="About") About
                            li
                                a(href="Features") Features
                            li
                                a(href="Works") Works
                            li
                                a(href="Career") Career
                    div.flex4
                        a(href="Support") Support
                        ul
                            li
                                a(href="Contact") Contact
                            li
                                a(href="Contact Help & Support") Contact Help & Support
                            li
                                a(href="Privacy Policy") Privacy Policy
                            li
                                a(href="Terms & Conditions") Terms & Conditions
                    div.flex4
                        a(href="Products") Products
                        ul
                            li
                                a(href="Shades Pro") Shades Pro
                            li
                                a(href="Essential Blocks") Essential Blocks
                            li
                                a(href="Avasta Dash") Avasta Dash
                            li
                                a(href="vApp Landing Page") vApp Landing Page                 
                                
                        
                        
                                        
                    
               
            